.container.password .form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 15px;
  transition: transform 0.2s ease;
}

.password-title {
  text-align: center;
  white-space: nowrap;
  color: #232526;
}

.password-signup {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-signup .form-link-signup {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #4681f4;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.password-signup .form-link-signup:hover {
  text-decoration: underline;
}

.password-signup .form-link-signup:active {
  color: #232526;
}
