.register-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  background-image: url("../../../public/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}

.register-form-wrapper {
  position: relative;
  width: 400px;
  height: 500px;
  background-color: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form-wrapper .register-form-box {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.register-form-box span {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.register-form-box h1 {
  font-size: 2em;
  color: #393d3f;
  text-align: center;
  margin-bottom: 10px;
}

.login-link {
  text-align: center;
}
.login-link a {
  color: #004e98;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
